/*Form styles so that they are less ghetto*/
input[type=text] {
  background-color: #fcfffe;
  border: none;
  /*	border:1px solid #ccc;*/
  padding: 8px;
  outline: none;
  margin: 0; }

.bigHolder2 input[type=text] {
  background: #FCFCFC; }

input[type=text]:focus {
  /*border:1px solid red;*/ }

input[type=text]:active {
  border: 1x solid red; }

input[type=submit] {
  display: none; }

body {
  font-size: 20px;
  font-family: 'Raleway', sans-serif; }
  body .wrapper {
    width: 1000px;
    margin: 0 auto;
    padding: 10px; }
    body .wrapper .subtle {
      padding: 40px 80px;
      background: thistle;
      border-radius: 5px;
      width: 700px;
      margin: 0 auto;
      position: relative; }
      body .wrapper .subtle:after {
        content: "";
        background: url(../images/newspaper.svg) no-repeat;
        width: 209px;
        height: 400px;
        top: 200px;
        right: -70px;
        display: block;
        position: absolute;
        opacity: 0.2;
        transform: scale(2); }
    body .wrapper .murderedOut {
      background: radial-gradient(ellipse at center, #ffffff 0%, #f6f6f6 50%, #ededed 100%);
      border-radius: 5px;
      padding: 40px 80px;
      width: 700px;
      margin: 0 auto;
      position: relative; }
      body .wrapper .murderedOut:after {
        content: "";
        background: url(../images/newsletter.svg) no-repeat;
        width: 209px;
        height: 350px;
        top: 200px;
        right: -75px;
        display: block;
        position: absolute;
        opacity: 0.2;
        transform: scale(2); }

h1 {
  color: black;
  text-align: center;
  padding: 0;
  margin: 0;
  padding-top: 100px; }

h2 {
  text-align: center;
  font-size: 18px;
  margin: 0; }

h3 {
  padding-top: 50px; }

h4 {
  padding: 0;
  color: black; }

.edit {
  font-weight: 300;
  color: grey; }

form {
  margin: 0;
  padding: 0; }

.text {
  display: inline; }

.highLight {
  color: black;
  font-weight: 700; }

#mask {
  position: absolute;
  /* important */
  top: 0px;
  /* start from top */
  left: 0px;
  /* start from left */
  height: 100%;
  /* cover the whole page */
  width: 100%;
  /* cover the whole page */
  display: none;
  /* don't show it '*/
  /* styling bellow */
  background-color: black; }

.modal_window {
  position: absolute;
  /* important so we can position it on center later */
  display: none;
  /* don't show it */
  /* styling bellow */
  color: white; }

/* style a specific modal window  */
#modal_window {
  padding: 50px;
  border: 1px solid gray;
  background: #246493;
  color: black; }