    #mask{  
    position:absolute; /* important */  
    top:0px; /* start from top */  
    left:0px; /* start from left */  
    height:100%; /* cover the whole page */  
    width:100%;  /* cover the whole page */  
    display:none; /* don't show it '*/  
  
    /* styling bellow */  
    background-color: black;  
}  
  
.modal_window{  
    position:absolute; /* important so we can position it on center later */  
    display:none; /* don't show it */  
  
    /* styling bellow */  
    color:white;  
}  
  
/* style a specific modal window  */  
#modal_window{  
    padding:50px;  
    border:1px solid gray;  
    background: #246493;  
    color:black;  
} 